.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #8bd833;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid{
  display:grid;
}
.tile{
  background-blend-mode:overlay;
}
.tile h1{
  color: #f1f3ef;
  text-decoration: underline;
  font-size: xx-large
}
.tile li{
  list-style: none;
  color: #f1f3ee;
  text-decoration:double;
  font-size: larger;
}
.tile link{
  color: #f1f3ee;
}
.Info h1{
 font-size: xx-large;
 text-decoration: underline;
}
.Info h2{
  font-size: x-large;
 
}
.Info h3{
  font-size: x-large;
}
.review{
  font-size: large;
  font-weight: bold;
}
.Info label{
  font-weight: bold;
}
.login {
  background-color: #578cf5;
  padding-top: 0%;
  margin: 0;
}
.login form{
  text-decoration:underline;
  font-size:xx-large
}
.login p{
  background-color: #8bd833;
  font-size: large;
  font-weight: bold;
  margin-top: 15%;
}
.home{
  font-weight: bold;
}